.heading {
	font-size: 150%;
	font-weight: bold;
	padding-bottom: .5em;
	border-bottom: 3px double #ccc;
	margin-top: 3%;
}

.this-time{
	background: rgb(248, 220, 225);
	padding: 1%;
	margin: 1%;
}

.last-time{
	background: rgb(245, 255, 101);
	padding: 1%;
	margin: 1%;
}

.overall{
	background: rgb(102, 255, 102);
	padding: 1%;
	margin: 1%;
}

.table-title{
	text-align: center !important; 
	vertical-align: middle !important;
	font-size: 1.2rem;
	font-weight: bold;
}

.table-val{
	text-align: center !important; 
	vertical-align: middle !important;
	font-size: 2.5rem;
}

